awscli==1.12.2
botocore==1.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.3.7
Django==1.11.29
docutils==0.14
email==4.0.2
futures==3.1.1
gunicorn==19.10.0
idna==2.8
jmespath==0.9.3
numpy==1.16.6
pandas==0.24.2
pgeocode==0.2.1
pyasn1==0.4.2
python-dateutil==2.6.1
pytz==2020.1
PyYAML==3.12
requests==2.22.0
rsa==3.4.2
s3transfer==0.1.11
six==1.11.0
urllib3==1.25.8
